body {
    background-color: #7D645C;
}

#cv {
	cursor : url("baton.png"), pointer;
    display: block;
    margin: 50px auto;
    -webkit-user-select : none;
}

#gandalf {
	position: absolute;
	bottom: 10px;
	display: block;
	z-index: 5;" 
}