body {
    background-color: #7D645C;
}

#cv {
	cursor : url("baton.png"), pointer;
    display: block;
    margin: 50px auto;
    -webkit-user-select : none;
}

#gandalf {
	position: absolute;
	bottom: 10px;
	display: block;
	z-index: 5;" 
}

#pause {
	text-align: center;
	position: absolute;
	left: 38.5%;
	top: 50%;
	font-size: 50px;
	font-weight: bold;
	z-index: 1;
	display: none;
}

#won {
	text-align: center;
	position: absolute;
	left: 43.5%;
	top: 50%;
	font-size: 50px;
	font-weight: bold;
	z-index: 1;
	display: none;
}

#loose {
	text-align: center;
	position: absolute;
	left: 38.5%;
	top: 50%;
	font-size: 50px;
	font-weight: bold;
	z-index: 1;
	display: none;
}